/*import styles*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
.btnBurger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  padding: 30px;
  border: none;
  background: none;
  z-index: 3;
}

@media screen and (min-width: 600px) {
  .btnBurger {
    display: none;
  }
}

.btnBurger_box {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
}

.btnBurger_box--line {
  position: relative;
  width: 100%;
  height: 3px;
  background: #333;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.btnBurger_box--line::before, .btnBurger_box--line::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 3px;
  background: var(--blue);
  border-radius: 12px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.btnBurger_box--line::before {
  left: 0;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.btnBurger_box--line::after {
  right: 0;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

/*animation*/
.btnBurger.it-active .btnBurger_box--line {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btnBurger.it-active .btnBurger_box--line::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.btnBurger.it-active .btnBurger_box--line::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.bg {
  background: -webkit-gradient(linear, right top, left bottom, color-stop(70%, transparent), to(var(--blue)));
  background: linear-gradient(to bottom left, transparent 70%, var(--blue));
  height: 100vh;
}

.firstPage {
  padding-left: 17px;
  padding-right: 17px;
}

.firstPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  margin-bottom: 48px;
}

.firstPage .btnBurger {
  position: relative;
  right: 0;
}

.content_qestion {
  margin-bottom: 5px;
  padding-left: 40px;
}

.content_title {
  margin-bottom: 12px;
  padding-left: 40px;
  padding-right: 63px;
}

.title {
  padding-right: 106px;
}

.content_boxImg {
  margin-bottom: 22px;
}

p {
  margin-bottom: 31px;
  padding-left: 40px;
  padding-right: 60px;
  text-align: center;
}

h3 {
  padding-left: 40px;
  margin-bottom: 10px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.secendPage {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secendPage_title {
  margin-bottom: 50px;
  padding-left: 34px;
  padding-right: 50px;
}

.secendPage_card {
  margin-bottom: 80px;
}

.firstPage_menu--link {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(60%, var(--colorbtn)), to(var(--blue)));
  background: linear-gradient(to bottom left, var(--colorbtn) 60%, var(--blue));
  clip-path: polygon(0 0, 0 0, 50% 51%, 0 100%, 0 100%, 50% 51%, 100% 100%, 100% 100%, 50% 51%, 100% 0, 100% 0, 50% 51%);
  -webkit-clip-path: polygon(0 0, 0 0, 50% 51%, 0 100%, 0 100%, 50% 51%, 100% 100%, 100% 100%, 50% 51%, 100% 0, 100% 0, 50% 51%);
  -webkit-transition: -webkit-clip-path 0.3s ease-in-out;
  transition: -webkit-clip-path 0.3s ease-in-out;
  transition: clip-path 0.3s ease-in-out;
  transition: clip-path 0.3s ease-in-out, -webkit-clip-path 0.3s ease-in-out;
  z-index: 3;
}

.firstPage_menu--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
}

.firstPage_menu--link a {
  text-decoration: none;
  color: #333;
}

.firstPage_menu--link a:hover {
  font-weight: bold;
}

.firstPage_menu--link.it-active {
  -webkit-clip-path: polygon(0 0, 0% 20%, 0 53%, 0% 80%, 0 100%, 51% 100%, 100% 100%, 100% 80%, 100% 46%, 100% 20%, 100% 0, 48% 0);
          clip-path: polygon(0 0, 0% 20%, 0 53%, 0% 80%, 0 100%, 51% 100%, 100% 100%, 100% 80%, 100% 46%, 100% 20%, 100% 0, 48% 0);
}

@media screen and (min-width: 600px) {
  .firstPage_menu--link {
    position: relative;
    background: none;
    height: auto;
    width: auto;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .firstPage_menu--link {
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[5];
        grid-template-columns: repeat(5, auto);
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

.content_boxImg {
  padding-left: 17px;
  padding-right: 17px;
}

.content_boxImg img {
  width: 100%;
  border-radius: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}

.threePage_card--boxImg {
  padding-left: 17px;
  padding-right: 17px;
}

.threePage_card--boxImg img {
  width: 100%;
  border-radius: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*fonts mobile*/
.firstPage_title {
  font-weight: 800;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

span {
  color: var(--blue);
}

.content_qestion {
  color: var(--blue);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--colorp);
}

a {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: var(--blue);
}

h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.threePage_see--link {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: var(--blue);
}

:root {
  --blue: rgba(45, 156, 219, 1);
  --colorfont: rgba(51, 51, 51, 1);
  --colorplaceho: rgba(130, 130, 130, 1);
  --colorbtn: rgba(242, 242, 242, 1);
  --colorp: rgba(79, 79, 79, 1);
}

form {
  width: 291px;
  height: 47px;
  background: var(--colorbtn);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email--input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  background: transparent;
  padding-left: 19px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.email--input:focus {
  -webkit-box-shadow: inset 0 0 15px var(--blue);
          box-shadow: inset 0 0 15px var(--blue);
}

.content_mail--btn {
  padding: 10px 15px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 12px;
  -webkit-box-shadow: -3px 3px 5px var(--colorfont);
          box-shadow: -3px 3px 5px var(--colorfont);
  background: var(--blue);
  color: var(--colorbtn);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content_mail--btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.secendPage_card {
  width: 341px;
  height: 422px;
  -webkit-box-shadow: 0px 5px 10px 0px var(--colorfont);
          box-shadow: 0px 5px 10px 0px var(--colorfont);
  border-radius: 24px;
  padding-top: 49px;
  padding-left: 34px;
}

.secendPage_card--icon {
  position: relative;
  width: 67px;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  background: var(--blue);
  margin-bottom: 35px;
}

.card1--icon--big {
  position: absolute;
  width: 7px;
  height: 30px;
  background: var(--colorbtn);
  -webkit-transform: rotate(35deg) translateY(3px);
          transform: rotate(35deg) translateY(3px);
}

.card1--icon--big::before {
  content: "";
  position: absolute;
  left: 1.5px;
  top: 28.3px;
  width: 0;
  height: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-right: 4px solid var(--colorbtn);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.card1--icon--big::after {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 100%;
  height: 5px;
  background: var(--colorbtn);
}

.card2--icon {
  background: #27ae60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card2--icon .card2--icon--left,
.card2--icon .card2--icon--right {
  width: 13px;
  height: 13px;
  border-left: 3px solid var(--colorbtn);
  border-bottom: 3px solid var(--colorbtn);
}

.card2--icon .card2--icon--left {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.card2--icon .card2--icon--right {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.card3--icon {
  background: #eb5757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card3--icon .card3--icon--span {
  background: var(--colorbtn);
  position: relative;
  width: 35px;
  height: 8px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.card3--icon .card3--icon--span::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 1px;
  background: #eb5757;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.card3--icon .card3--icon--span:last-child {
  margin-bottom: 0;
}

.secendPage_card--title {
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 36px;
}

.secendPage_card--content {
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  padding: 0;
  padding-right: 34px;
  text-align: left;
}

.secendPage_card--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: none;
  -webkit-box-shadow: 3px 3px 5px var(--colorfont);
          box-shadow: 3px 3px 5px var(--colorfont);
  padding: 10px 20px;
  margin-bottom: 32px;
  background: var(--blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--colorbtn);
  text-transform: uppercase;
}

.secendPage_card--btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--colorfont);
}
/*# sourceMappingURL=styles.css.map */