.email--input {
  position: relative;
  appearance: none;
  -webkit-appearance: none;

  width: 220px;
  height: 47px;

  border-radius: 25px;
  border: none;
  background: radial-gradient(
    circle at right,
    transparent 25px,
    var(--colorbtn) 31px
  );
  text-align: center;

  &:focus {
    box-shadow: inset 0 0 10px var(--blue);
  }
}

.content_mail--btn {
  padding: 14px 40px;

  border: none;
  appearance: none;
  -webkit-appearance: none;

  border-radius: 30px;
  box-shadow: none;

  background: var(--blue);

  color: var(--colorbtn);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:active {
    box-shadow: inset 3px 3px 2px var(--colorplaceho),
      inset -3px -3px 2px var(--colorbtn);
    border: none;
    appearance: none;
  }
}
