form{
  width: 291px;
  height: 47px;

  background:var(--colorbtn);
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.email--input {
  appearance: none;
  -webkit-appearance: none;

  border: none;
  border-radius: 12px;
  width: 100%;
  height: 100%;

  background: transparent;
  padding-left: 19px;

  font-size: 14px;
  font-weight: 500;
  line-height: 21px;

  &:focus{
    box-shadow: inset 0 0 15px var(--blue);
  }
}



.content_mail--btn {
 
  padding: 10px 15px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;

  border: none;
  appearance: none;
  -webkit-appearance: none;

  border-radius: 12px;
  box-shadow: -3px 3px 5px var(--colorfont);

  background: var(--blue);

  color: var(--colorbtn);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:active{
    box-shadow: none;
  }
}
