.email--input{
    position: relative;
    appearance: none;
    -webkit-appearance: none;

   width: 220px;
   height: 47px;

    border-radius: 25px;
    border: none;
    background: radial-gradient(circle at right ,transparent 30px, var(--colorbtn) 31px);

    text-align: center;

    &:focus{
        background: radial-gradient(circle at right,transparent 30px,var(--blue) 31px);
        color: var(--colorbtn);
    }

}

.content_mail--btn{
    padding: 14px 40px;

    border: none;
    appearance: none;
    -webkit-appearance: none;

    border-radius: 25px;
    box-shadow: 3px 3px 5px var(--colorfont);

    background:var(--blue);

    color: var(--colorbtn);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
}




