.bg {
  background: linear-gradient(to bottom left, transparent 70%, var(--blue));
  height: 100vh;
}
.firstPage {
  padding-left: 17px;
  padding-right: 17px;
}
.firstPage {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 10px;

  margin-bottom: 48px;

  .btnBurger {
    position: relative;
    right: 0;
  }
}

.content_qestion {
  margin-bottom: 5px;
  padding-left: 40px;
}

.content_title {
  margin-bottom: 12px;
  padding-left: 40px;
  padding-right: 63px;
}

.title {
  padding-right: 106px;
}

.content_boxImg {
  margin-bottom: 22px;
}

p {
  margin-bottom: 31px;
  padding-left: 40px;
  padding-right: 60px;
  text-align: center;
}

h3 {
  padding-left: 40px;
  margin-bottom: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 40px;

  
}
.bg2{
  background: linear-gradient(to bottom right,var(--blue),transparent 30%);
  height: 100vh;
}
.secendPage{
  padding-top: 102px;
  padding-left: 15px;
  padding-right: 19px;
}

.secendPage_title{
  margin-bottom: 50px;
  padding-left:34px;
  padding-right: 50px;
}

.secendPage_card{
  margin-bottom: 80px;
}

