/*import styles*/
@import "burger";
@import "page-styles";
@import "menu--link";
@import "styles-img";
@import "fonts";
@import "virables";
@import "btn&input";
@import "card-styles";
@import "card-threePage";
@import "fourPage";

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--colorfont);
}
